name: Build

on:
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  docker-build:
    name: Build Docker (${{ matrix.platform_suffix }})
    runs-on: ${{ matrix.runner }}
    if: github.ref == 'refs/heads/main'
    strategy:
      matrix:
        include:
          - runner: ubuntu-latest
            platform: linux/amd64
            platform_suffix: x64
          - runner: ubuntu-24.04-arm
            platform: linux/arm64
            platform_suffix: arm64
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v4
      - uses: docker/setup-buildx-action@v3
      - name: Prepare lowercase owner
        run: |
          echo "OWNER_LOWER=${GITHUB_REPOSITORY_OWNER,,}" >> $GITHUB_ENV
          echo "SHORT_SHA=${GITHUB_SHA::7}" >> $GITHUB_ENV
      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build & push image (per-arch)
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          platforms: ${{ matrix.platform }}
          push: true
          tags: |
            ghcr.io/${{ env.OWNER_LOWER }}/honeypot:${{ env.SHORT_SHA }}-${{ matrix.platform_suffix }}
          build-args: |
            GIT_SHA=${{ github.sha }}
          # cache-from: type=gha
          # cache-to: type=gha,mode=max

  merge-docker-manifest:
    name: Deploy Docker
    runs-on: ubuntu-latest
    needs: docker-build
    if: github.ref == 'refs/heads/main'
    permissions:
      contents: read
      packages: write
    steps:
      - uses: docker/setup-buildx-action@v3
      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Create and Push Multi-arch Manifest
        run: |
          SHORT_SHA="${GITHUB_SHA::7}"
          OWNER_LOWER="${GITHUB_REPOSITORY_OWNER,,}"
          docker buildx imagetools create \
            -t ghcr.io/$OWNER_LOWER/honeypot:$SHORT_SHA \
            -t ghcr.io/$OWNER_LOWER/honeypot:latest \
            ghcr.io/$OWNER_LOWER/honeypot:${SHORT_SHA}-x64 \
            ghcr.io/$OWNER_LOWER/honeypot:${SHORT_SHA}-arm64
